<html>
  <head>
    <title>AREA</title>
  </head>
  <body>
    <a href="/">BACK</a>
    <form action = "/area" method = "GET">
      <input name="length" placeholder="Enter the length" />
      <input type="submit" value="submit" />
    </form>
    <p id="print" style="color: black"></p>
    <script src="area.js"></script>
  </body>
</html>
